@import "tailwindcss";

@theme {
  --color-melon: #f5a68e;
  --color-persian-pink: #f68dd0;
  --color-jasmine: #ffe699;
  --color-flame: #ec4e20;
}

h1 {
  @apply text-6xl
}

h2 {
  @apply text-4xl;
}